/* SVG-элементы
Любое векторное изображение состоит из набора фигур, которые представлены SVG-элементами. Когда дизайнер экспортирует иконку из графического редактора, например Adobe Illustrator или Inkscape, программа переводит изображение в набор элементов и получается SVG-файл. Разработчик использует готовое SVG-изображение, не задумываясь о его содержимом, но базовое знакомство с элементами не будет лишним, поэтому рассмотрим некоторые из них. */
body{
    display: flex;
    justify-content: center;
}
/* Элемент <rect>
Создаёт прямоугольную область. Нарисуем прямоугольник 250x150 пикселей и добавим следующие характеристики:
    fill - Зальём цветом используя атрибут;
    stroke - Установим рамку чёрного цвета;
    stroke-width - ширина рамки в 4px;
    x и y - смещение 20px по вертикали и горизонтали относительно верхнего левого угла холста;
    rx (по горизонтали) и ry ( по вертикали) - скругление углов прямоугольника атрибутами. Если задать только одно значение, другое будет идентично. */
/* Нарисуем еще один прямоугольник и разместим его в нижней правой части холста. Новая фигура перекроет первый прямоугольник, потому что фигуры располагаются как в слоёном пироге - ниже в разметке значит выше в слоях на холсте. */

/* Элемент <circle>
Создаёт окружность:
    r - радиус;
    stroke - дадим ей рамку;
    fill - зальём цветом. Получится окружность с центром в верхнем левом углу, большая часть которой скрыта, так как находится за холстом. 
    cx — координата центра по оси X
    cy — координата центра по оси Y*/

/* Элемент <ellipse>
    rx и ry - rоризонтальный и вертикальный радиус. Остальные атрибуты совпадают с элементом <circle> */

/* Элемент <line>. Создаёт прямую линию. 
    x1 и y1 указывают точку начала линии;
    x2 и y2 её конец.
Нарисуем на холсте иконку гамбургер-меню из трёх паралельных горизонтальных линий. */

/* Элемент <polygon>
Описывает многоугольник, вид которого определяется атрибутом:
    points - набором точек в виде координат линий, которые разделены на группы. 
Первая цифра группы - координата x, вторая цифра после запятой – координата y. Первая группа цифр определяет координаты начала первой линии, вторая группа определяет конец первой линии и одновременно начало второй линии и т. д.
Полигон это замкнутая фигура, поэтому последняя замыкающая линия добавляется автоматически, соединяя конец последней линии с началом первой линии фигуры.*/

/* Элемент <path>
Универсальный элемент для представления фигур любой сложности. Все SVG-иконки, экспортируемые дизайнером, описаны этим элементом. Атрибут d содержит набор координат и соединяющих их кривых, определяющих направление линий. Вручную редакторивать path не нужно. Иконки рисуются в специальных редакторах, которые при экспорте заполняют path и другие элементы и их атрибуты. */


/* SVG-документ
Векторную графику хранят в файлах с расширением .svg. Это обычные текстовые файлы, в которых на верхнем уровне находится тег <svg> с набором служебных атрибутов, указывающих в какой версии языка разметки и согласно какой версии SVG-спецификации написан документ. Из всех служебных только атрибут xmlns является обязательным, остальные обычно пропускают. */

/* Атрибут viewBox определяет какая часть изображения будет отображена, и в каком масштабе. Если перевести «view box», то буквально получим «окно просмотра». То есть, это «окно», через которое можно просматривать некоторую часть SVG-документа. Чем-то похоже на окно иллюминатора в самолёте, через которое вы можете видеть окружающий мир, но viewBox также может масштабировать (приближать или отдалять) картинку, как телескоп или может быть перемещено в любое место SVG-документа, и пользователь увидит фрагмент, который находится непосредственно под viewBox, согласно заданному масштабу.*/

/* То что мы перед этим делали, это называеться встроенный SVG или inline 
У такого подхода есть ряд существенных минусов:
    - Встроенный SVG-код увеличивает размер HTML-файла.
    - Невозможно повторно использовать одно и то же изображение без дублирования кода.
    - Поддержка и правки встроенного SVG трудозатратны.
    - Браузер не может кэшировать встроенные фигуры, в отличии от внешних SVG-файлов.*/

/* SVG-спрайт - это современная техника, которую применяют в большинстве случаев.
Один файл для всех SVG-иконок веб-сайта.
Файл спрайта кешируется браузером и не будет загружен при повторных посещениях.
Иконкам в спрайте можно изменять цвет и другие характеристики через CSS. */

/* SVG-документ это просто текстовый файл, внутри которого, в отличие от растровой графики, описаны фигуры, которые отрисует браузер. Внутри одного файла можно описать множество разных групп фигур используя элемент <symbol>, после чего, дав каждому символу уникальный id, обратиться к любому из них из HTML-документа. */



 .input-wrapper {
    position: relative;
  }
  
  input {
    padding: 10px 30px 10px 30px; /* Увеличиваем padding справа и слева, чтобы иконка не перекрывала текст */
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
  }
  
  .user {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%); 
    width: 20px;
    height: 20px;
  }

/* top: 50%;
Сдвигает элемент на 50% от высоты родителя сверху вниз.
То есть — якобы "в середину по вертикали".
⚠️ Но! Это не делает элемент идеально по центру, потому что координата top считается от верхнего края элемента, а не от его середины.
🔹 transform: translateY(-50%);
Это “вторая половина” приёма центрирования.
Она сдвигает элемент на половину его собственной высоты вверх. */