


.swiper {
            max-width: 1000px;
            /* width: 100%;         */
            height: 600px;      
            /* margin: 0 auto;      */
            border-radius: 15px; 
            /* overflow: hidden;     */
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
        }
        .swiper-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;  /* Обрезает изображение, сохраняя пропорции */
            display: block;
        }