/* overflow: visible | hidden | scroll | auto
visible - переполняющее содержимое видимо. Значение по умолчанию.
hidden - всё, что выходит за границы блока будет визуально скрыто. Полезно для картинок которые выходят за рамки
scroll - при переполнении появляются горизонтальная и вертикальная полосы прокрутки, даже если нужна только одна.
auto - похоже на значение scroll, но полосы прокрутки показываются только там, где они действительно необходимы, а не все сразу. */
/* div{
    outline: 1px solid black;
    width: 200px;
    height: 100px;
    overflow: visible;
} */


/* Анимация в веб-разработке — это процесс создания визуальных изменений элементов на странице, которые происходят плавно и динамично. Она позволяет оживить интерфейс, сделать взаимодействие с сайтом более приятным и интуитивным.

✨ Зачем нужна анимация?
Привлекает внимание: помогает выделить важные элементы, например, кнопки или уведомления.
    - Улучшает пользовательский опыт: делает переходы между состояниями более понятными и естественными.
    - Добавляет стиль и индивидуальность: визуальные эффекты могут подчеркнуть характер бренда или проекта.
    - Объясняет действия: например, при загрузке, перемещении или изменении данных.

Хорошо продуманная анимация — это не просто украшение, а инструмент, который делает интерфейс более понятным и приятным. */
/* 
Основные инструменты управления анимацией:
transition-property: <свойство>
transition-duration: <время>
transition-timing-function: <функция распределения времени>
    - linear — равномерно
    - ease — замедление в конце
    - ease-in — медленно в начале, потом быстрее
    - ease-out — быстро в начале, потом медленно
    - ease-in-out — медленно → быстро → медленно
transition-delay: <задержка> */
.box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: tomato;


  /* transition-property: background-color, transform; */
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;

  /*transition: background-color 500ms linear 0s, transform 500ms linear 0s; - каждое свойство задвём отдельно */
}

.box:hover {
  background-color: teal;
  transform: rotate(180deg);
  scale:calc(2);
}

/* Свойство transition-duration
Если продолжительность перехода не указана, то изменение значений произойдёт мгновенно, без анимации. Свойство transition-duration задаёт промежуток времени, в течение которого должен осуществиться переход. Указывается в секундах, например 2s или 0.5s, либо в миллисекундах - 2000ms и 500ms соотвественно. Если разные свойства имеют разные значения времени перехода, то они перечисляются через запятую. */
.flex-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
  
  transition-property: transform;
}

.flex-container:hover .circle {
  transform: scale(1.5);
}

.circle:nth-child(1) {
  background-color: orange;

  transition-duration: 500ms;
}

.circle:nth-child(2) {
  background-color: #03a9f4;

  transition-duration: 1500ms;
}

.circle:nth-child(3) {
  background-color: palevioletred;

  transition-duration: 3000ms;
}

/* Свойство transition-timing-function
Задаёт функцию распределения времени, которая описывает скорость перехода свойства от одного значения к другому за время, указанное в transition-duration, то есть поведение анимации. */

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  transform: translatex(0);
  transition-property: transform;
  transition-duration: 2000ms;
}

.container:hover .circle {
  transform: translatex(calc(100vw - 86px));
  /* transition-timing-function: linear; */
/* transition-timing-function: ease; */
/* transition-timing-function: ease-in; */
/* transition-timing-function: ease-out; */
/* transition-timing-function: ease-in-out; */
/* transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08); */
/* Кривая Безье — это гибкая линия, форма которой задаётся точками управления.
Она используется в графике и анимации, чтобы создать плавные и естественные движения — например, как объект ускоряется или замедляется.

задаёт нестандартную кривую ускорения для CSS-перехода — то есть, как будет меняться скорость анимации от начала до конца.
 */
 /* Это координата кривой Безье. Все четыре значения (x1, y1, x2, y2) — это безразмерные единицы, то есть доли от 0 до 1, которые описывают форму кривой.
Ось X (x1, x2) — всегда от 0 до 1
Это означает время в анимации: от начала (0) до конца (1)

Ось Y (y1, y2) — может быть меньше 0 или больше 1
Это означает интенсивность эффекта: насколько быстро или медленно происходит визуальное изменение
 */
}
.circle:nth-child(1) {
  background-color: #f44336;
  transition-timing-function: linear;
}

.circle:nth-child(2) {
  background-color: #3f51b5;
  transition-timing-function: ease;
}

.circle:nth-child(3) {
  background-color: #00bcd4;
  transition-timing-function: ease-in;
}

.circle:nth-child(4) {
  background-color: #4caf50;
  transition-timing-function: ease-out;
}

.circle:nth-child(5) {
  background-color: #ffeb3b;
  transition-timing-function: ease-in-out;
}

.circle:nth-child(6) {
  background-color: #e91e63;
  transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

/* Свойство transition-delay
Задержка, после которой начнётся анимация перехода. Используется для построения сценариев - последовательности переходов разных элементов. По умолчанию задано значение 0s. */
/* .box{
    transition-delay: 500ms;
} */

/* Анимируемые свойства
Из всех свойств, которые могут быть анимированы, рекомендуется, по возможности, использовать всего два: opacity (прозрачность) и transform (трансформация). В большинстве случаев анимирование других свойств не значительно повлияет на производительность страницы, но лучше придерживаться этого правила чтобы создавать максимально производительную анимацию. Всё дело в том, как браузер рисует веб-страницу.
    1. Шаг JavaScript - скрипт или какое-то событие, например ховер или фокус, запускают анимацию стилей элемента.
    2. Шаг Style - происходит вычисление новых стилей элементов, рассчитывается специфичность, конфликты, каскадирование и тому подобное.
    3. Шаг Layout - выполняется расчёт геометрии элементов. При анимации свойства, которое влияет на геметрию, например margin, браузеру приходится вычислять новую позицию для целой группы элементов.
    4. Шаг Painting - происходит прорисовка слоёв, потому что элементы вложены друг в друга или позиционированы, тем самым создавая слоёный пирог.
    5. Шаг Composite - компоновка всех подготовленных слоёв и отрисовка финальной картинки на экране пользователя.
Например, если анимировать свойство width, браузеру придётся выполнить шаги Layout > Paint > Composite, а это довольно дорогостоящая операция для производительности веб-страницы. */

.text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.box2:hover .text {
  opacity: 1;
}

/* Ещё одна прикольная штучка свойства overflow со значением hidden используется при создании декоративных эффектов с появлением скрытого контента из-за границ блока. */
/* <div class="box">
  <div class="overlay">
    <p>This content is hidden through transformation and only appears when hovering over <code>div.box</code></p>
  </div>
</div> */
/* .box {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #bdbdbd;
  overflow: hidden;
} */

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease; */
  /* transform: translateX(-100%); - появление с левой стороны функция, задающая горизонтальное смещение:*/
  /* transform: translateY(-100%); -  появление с верху */
  /* transform: translateY(100%); - появление с низу */
/* } */

/* .box:hover .overlay { */
  /* transform: translate(0); */
  /* transform: translateY(0); */
  /* transform: translateY(0);
  background-color: aqua;

} */

/* CSS-анимация
Как и переходы, анимация придаёт веб-страницам динамичность, но в отличие от переходов, анимации не нужен обязательный инициатор (событие), её можно повторить бесконечное количество раз, и между начальным и конечным состояними может быть любое количество промежуточных состояний. */
/* 
Анимация объявляется директивой @keyframes, которая позволяет описать набор кадров (frames, состояний) анимации, которых должно быть как минимум два (начальный и конечный).
Объявим анимацию для изменения цвета фона элемента в трёх точках: 0%, 50% и 100%. */

@keyframes changeBgColor {
  0% {
    background-color: teal;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: deepskyblue;
  }
}

@keyframes moveAndColor {
  0% {
    transform: translateX(0);
    background-color: #ff8a80;
  }
  50% {
    transform: translateX(100px);
    background-color: #80d8ff;
  }
  100% {
    transform: translateX(0);
    background-color: #a7ffeb;
  }
}

.box3 {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #ff8a80;
  color: #333;
  font-weight: bold;
  margin: 50px auto;
}
.box3:hover{
  animation-name: moveAndColor;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
}


body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f9f9fd;
}

.scene {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  /*   transition: transform 0.5s ease-in-out; */
}

.box4.rotate-x {
  /*   transform: rotateX(60deg); */
  animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.box4.rotate-y {
  /*   transform: rotateY(60deg); */
  animation: rotateY 1500ms infinite alternate ease-in-out 1000ms;
}

.rotate-x{
    background-color: #00bcd4;
}

.rotate-y{
    background-color: #4caf50;
}

/* @keyframes rotateX {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(60deg);
  }
}

@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(60deg);
  }
} */

@keyframes rotateX {
  0% {
    transform: perspective(400px) rotateX(0deg);
  }

  100% {
    transform: perspective(400px) rotateX(60deg);
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }

  100% {
    transform: perspective(400px) rotateY(60deg);
  }
}


/* Центрирование элемента
Рассмотрим приём, при помощи которого можно поставить абсолютно позиционированный элемент точно по центру блока, относительно которого он позиционируется. Техника очень простая и состоит из трёх шагов. */

.parent {
  position: relative;
  width: 500px;
  height: 300px;
  border: 10px solid #303f9f;
  border-radius: 10px;
  background-color: #3f51b5;
}
.box5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;
  border: 10px solid #ffa000;
  border-radius: 10px;
  background-color: #ffc107;
  
  /* animation: skew 3000ms linear 1000ms infinite; */
  animation: rotate 3000ms linear 1000ms infinite;
  transform-origin: top left;
}
@keyframes skew {
  0% {
    transform: skew(0deg);
  }
50%{
    transform: skew(30deg);
}
  100% {
    transform: skew(0deg);;
  }
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotate3d(0, 0, 1, 0deg); /*принимает 4 арнумента x, y, z, angle*/
  }

  100% {
    transform: perspective(400px) rotate3d(0, 0, 1, 360deg);
  }
}