.section{
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.container{
  max-width: 350px;
  /* height: 280px; */
  height: auto;
 
  flex: 1 1 300px;
/* flex-grow: 1;    Разрешает элементу расти, если в строке остаётся свободное место.
Чем больше число, тем больше доля этого элемента в распределении «лишнего» пространства.
0 = не растёт.
1 = растёт пропорционально другим с 1.
flex-shrink: 1;   Разрешает элементу сжиматься, если места не хватает.
flex-basis: 300px;  Это «базовый размер» элемента — как будто стартовая ширина.
От неё flexbox отталкивается при распределении.*/
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.425);
}

.paragraph{
  text-align: center;
}

.title{
  text-align: center;
}
.img{
  border-radius: 100%;
}
.container_foto{
  text-align: center;
}

.rel{
    background-color: aqua;
    width: 150px;
    height: 150px;
    position: relative;
    top:100px;
    left: 50px;
}

.abs {
  position: absolute;
  top: 20px;    /* смещение от верхнего края body или родителя с классом position: relative;*/
  left: 50px;   /* смещение от левого края body */
  width: 100px;
  height: 50px;
  background: coral;
}

.fix{
    width: 100px;
  height: 50px;
  background: rgb(153, 255, 80);
    position: fixed;
    bottom: 0;
    right: 0;
}
/* sticky */
/* Свойство overflow в CSS управляет тем, как ведёт себя содержимое, которое выходит за границы блока (контейнера).
Есть разные варианты:
overflow: visible; — содержимое «вылезает» за границы (это значение по умолчанию).
overflow: hidden; — лишнее содержимое обрезается.
overflow: scroll; — всегда показываются полосы прокрутки (даже если контент помещается).
overflow: auto; — полосы прокрутки появляются только при необходимости.
Когда пишут overflow-y: scroll;, это означает:
управление только по вертикали (ось Y);
в контейнере всегда будет вертикальная полоса прокрутки, даже если контент помещается.
📌 То есть в примере со sticky: контейнер имеет фиксированную высоту (height: 200px;) и overflow-y: scroll;. Благодаря этому его содержимое прокручивается внутри блока, и можно наблюдать, как элемент со sticky «прилипает» к верхнему краю при скролле. */
/* .container {
      height: 200px;
      overflow-y: scroll;
      border: 2px solid #ccc;
    } */
    .item {
      height: 100px;
      background: lightgray;
      margin-bottom: 10px;
    }
    .sticky {
      position: sticky;
      top: 0;              /* прилипает к верхней границе контейнера */
      background: orange;
      height: 50px;
    }

    .sticky2{
      position: sticky;
      top: 0;              /* прилипает к верхней границе контейнера */
      background: rgb(234, 0, 255);
      height: 50px;
      display: flex;
    }